*.exe
.classpath
.project
.settings
*.class
*.sln
*.vcxproj
*.vcxproj.*
Debug
.vs
*.xml
*.html
*.iml
*.sum
*.csv
Release
cmake-build-debug
cmake-build-debug/
CMakeFiles
.idea
*.vcxproj
*.vcxproj.filters
*.vcxitems
vs-readme.txt
__vm
.vs
*.sln